@import '~@angular/material/theming';
@import '~@angular/material-experimental/mdc-theming/all-theme';
@import '~@angular/material-experimental/mdc-typography/all-typography';

@include mat-core();

$gstore-primary: mat-palette($mat-grey, A100);
$gstore-accent: mat-palette($mat-light-blue, 700);
$gstore-warn: mat-palette($mat-red);

$gstore-theme: mat-light-theme((
  color: (
    primary: $gstore-primary,
    accent: $gstore-accent,
    warn: $gstore-warn,
  )
));

@include angular-material-theme($gstore-theme);
@include angular-material-mdc-theme($gstore-theme);
@include angular-material-mdc-typography();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
