{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 3%"
          ]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties"
  ]
}